@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #9FC131, #D6D58E 70%);
}

p {
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #042940b2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #1fa9ff;
    text-align: center;
    text-shadow: 1px 1px 2px #031c2c;
}

h2{
    color: #00d6c1;
}
